{% extends "layout.html" %}

{%block title%}

 {%endblock%}

{%block content%}
      <h1 class="text-center text-white mt-4">Welcome to twitter!</h1>
      <h2>
        {% if form.instance.pk %}
        Edit tweet
        {% else %}
        Create a tweet
        {% endif %}
        
        <form method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{form.as_p}}
            <button class=btn btn-warning> Submit </button>
        </form>
        <a href="{% url 'tweet_list'%}"> Go Back</a>
          </h2>
    {%endblock%}
